.dialog{
    color: #e0e0e0;
    max-width: 90em;
    min-width: 30em;
    padding: 2em;
    border: 1px dotted #686868;
    border-radius: inherit;

    .frames{
        display: flex;
        flex-wrap: wrap;
        gap: 1.5em;
        margin-top: 1.5em;
        max-height: 60em;
        overflow-y: auto;
        
        .frame{
            width: 18em;
            height: 25em;
            border: 1px dashed #686868;
            border-radius: .5em;
            background: #3f3f3f;
            opacity: .8;
            cursor: pointer;
            transition: .3s;

            &:hover{
                opacity: 1;
            }

            &[data-selected="true"]{
                opacity: 1;
                border-color: #e0e0e0;
            }
        }
    }
}