body,
#root {
  width: 100%;
  min-height: 100vh;
}

#root {
  display: grid;
  place-items: center;
  padding: 2em;
  background: rgb(66 66 66);

  & #main {
    max-width: 100em;

    display: flex;

    gap: 1.5em;
    /* border: 1px solid #595959; */
    border-radius: 1em;
    padding: 1.5em;
    background: #1e2022;
    box-shadow: 0px 10px 10px rgba(0,0,0,.15);

    @media (max-width: 1000px){
      flex-direction: column;
    }
  }

}

.testing {
  border: 1px solid #fff;
}
