body,
#root {
  width: 100%;
  overflow: hidden;
  min-height: 100vh;
}

#root {
  display: grid;
  place-items: center;
  padding: 2em;

  & #main {
    width: 100%;
    max-width: 100em;

    display: grid;

    grid-template-columns: auto 1fr;
    gap: 2em;
  }

  @media (max-width: 600px) {
    & #main {
      grid-template-columns: unset;

      grid-template-rows: auto 1fr;
    }
  }
}

.testing {
  border: 1px solid #fff;
}